.senviron-iding-micad {
    cursor: pointer;
    position: relative;
    z-index: 0;                                                                                                     
    width: 35%;
    height: 50%;
    background-color: black;
    border-radius: 10px;
    margin-left: 32%;
    margin-block-start: 10%;
  }
  
  .senviron-iding-micad:before {
    content: '';
    background: linear-gradient(45deg, #e41717, #e67111, #efeb08, #4ff30f, #12f1cc, #0f35ef, #7c13ef, #ef13bf, #de0d0d);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(8px);
    width: calc(100%);
    height: calc(100%);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .senviron-iding-micad:hover:before {
    opacity: 1;
  }
  
  .senviron-iding-micad:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
body{
    background: linear-gradient(to top, rgba(128, 128, 128, 0.5), rgba(30, 144, 255, 0.5));
}
header{    
    margin-left: 5%;
    margin-top: 1%;
}
.name{
    color: coral;
    margin-left: 6%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}
.logo{
    padding: 0;
    line-height: 1;
    float: left;
}
.card{                                                                                                      
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

.card img{
    width: 100%;
    height: 60%;
}

.name1{
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    font-size: 26px;
}

.phone{
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    font-size: 26px;
}

.pochta{
    text-align: center;
    color: whitesmoke;
}
#footer
{

    width: 90%;
    height: 95px;
    line-height: 60px;
    background-color: rgba(20,20,20,0.8);
    text-align: left;
    padding-left: 7px;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 1%;
}
.animation{
    margin-right: 5%;
}
.anouther{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: white;
    width: 20%;
    margin-right: 5%;
    display: inline-block;
    float: right;
    height: 850px;
    border-radius: 10px;
    position:relative;
}
.normal{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background:white;
    width: 68%;
    display: inline-block;
    float: left;
    margin-left: 5%;
    height: 850px;
    border-radius: 10px;
}
.big_normal{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background:white;
    width: 90%;
    display: inline-block;
    float: left;
    margin-left: 5%;
    height: 850px;
    border-radius: 10px;
}
.im{
    text-align: right;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    
}
ul li {
    position: relative;
    list-style: none;
}
ul li a {
    position: relative;
    width: 100px;
    height: 40px;
    display: block;
    color: tomato;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
      text-transform: uppercase;
    transition: .5s;
    box-sizing: border-box;
}
ul li a span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: tomato;
    z-index: -1;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .5s;
}
ul li a:hover {
    color: #fff;
    text-decoration: none;
}
ul li a:hover span {
    transform-origin: bottom;
    transform: scaleY(1);
}
ul li a span:nth-child(1) {
    left: 0;
    transition-delay: 0s;
}
ul li a span:nth-child(2) {
    left: 25%;
    transition-delay: 0.15s;
}
ul li a span:nth-child(3) {
    left: 50%;
    transition-delay: 0.3s;
}
ul li a span:nth-child(4) {
    left: 75%;
    transition-delay: 0.45s;
}

.socialIcons {
  list-style-type: none;
  display: inline-block;
  height: 70px;
  position:absolute;
  vertical-align: bottom;
	bottom:0;
}
.socialIcons li {
  display: inline-block;
  margin: auto 10px;

}
.socialIcons li a {
  display: inline-block;
  font-size: 4rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  color: #F1DABF;
  transition: all ease 0.5s;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black;
  transform: rotateX(-30deg);
}
.socialIcons li a:hover {
  transform: rotateX(-30deg) translateY(-20px);
}
.socialIcons li a:hover.vk {
  color: #365899;
  text-shadow: 0px 0px 0px #365899,0px 1px 2px #2f4d86,0px 2px 2px #294273,0px 3px 2px #223760,0px 4px 2px #1b2d4e,0px 5px 2px #15223b,0px 6px 2px #0e1728,0px 7px 2px #070c15,0px 8px 2px #010102,0px 9px 2px black,0px 10px 2px black;
}
.socialIcons li a:hover.telegram {
  color: #1DA1F2;
  text-shadow: 0px 0px 0px #1DA1F2,0px 1px 2px #0d95e8,0px 2px 2px #0c85d0,0px 3px 2px #0b76b8,0px 4px 2px #0967a0,0px 5px 2px #085788,0px 6px 2px #064870,0px 7px 2px #053857,0px 8px 2px #04293f,0px 9px 2px #021927,0px 10px 2px #010a0f;
}
.socialIcons li a:hover.youtube {
  color: #FF0000;
  text-shadow: 0px 0px 0px #FF0000,0px 1px 2px #e60000,0px 2px 2px #cc0000,0px 3px 2px #b30000,0px 4px 2px #990000,0px 5px 2px maroon,0px 6px 2px #660000,0px 7px 2px #4d0000,0px 8px 2px #330000,0px 9px 2px #1a0000,0px 10px 2px black;
}
